<!DOCTYPE html>
<html lang="en">

<body>

        <a href="/listCountries">List Countries</a>
        <br>
        <a href="/listCities">List Cities</a>
        <br>
        <a href="/headOfState">List Heads Of States</a>

</body>

</html>